# Python specific files/directories
__pycache__
venv
.python-version

# Package specific files
requirements.txt

# K8 files
deployments
docker-compose.yaml

# github files
LICENSE
README.md
.gitignore